Write a Python program to print even numbers in a list.

Sample:

Input: list1 = [12, 3, 55, 6, 144]

Output: [12, 6, 144]

Input: list2 = [2, 10, 9, 37]

Output: [2, 10]

In [2]:
list1 = [12, 3, 55, 6, 144]
list2 = []
for each in list1:
    if each % 2 == 0:
        list2.append(each)
    else:
        continue
print(list2)

[12, 6, 144]

In [3]:
list1 = [2, 10, 9, 37]
list2 = []
for each in list1:
    if each % 2 == 0:
        list2.append(each)
    else:
        continue
print(list2)

[2, 10]

Write a program to print the following pattern

----1
   
---22
  
--333
 
-4444

55555

In [7]:
j = 5
for i in range(6):
    print(" "*j+str(i)*i)
    j-=1

    1
   22
  333
 4444
55555